<div class="container">
  <div *ngIf="loginInvalido" class="alert alert-danger" role="alert">
    Sus datos son incorrectos, verifique su información e intente nuevamente.
  </div>
  <div class="d-flex justify-content-center">
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Username">usuario</label>
        <input formControlName="Username" type="text" />
      </div>
      <div class="form-group">
        <label for="Password">contraseña</label>
        <input formControlName="Password" type="password" />
      </div>
      <button [disabled]="loginForm.invalid" class="btn btn-primary">
        iniciar
      </button>
    </form>
  </div>
</div>
